---
import Layout from '../layouts/Layout.astro';
import LargeHero from '../components/LargeHero.astro';
import ImageContentBlock from '../components/ImageContentBlock.astro';
import { Image } from 'astro:assets';
import silenceImg from '../assets/silence.jpg';
---

<Layout title="Welcome to Astro.">
	<LargeHero />
	<main>
		<h1>Welcome to </h1>
		<ImageContentBlock order='lg:order-first' title='OUR MISSION'>
			<Image slot="image" src={silenceImg} alt="" class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-0" />
			<p>The mission of A4TH is to improve the quality of the lives of Wisconsin veterans who have been negatively impacted by trauma, substance abuse, mental health issues, and homelessness, whether from military service or other significant life events. We do this through conducting group sessions of expressive art therapy coupled with mental health guidance, life coaching, fellowship, and positive behavioral skills.</p>
		</ImageContentBlock>
		<ImageContentBlock order='lg:order-last' title='HISTORY'>
			<Image slot="image" src={silenceImg} alt="" class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-0" />
			<p>In 2003 Tim Mayer began painting portraits of U.S. Military Service personnel who had lost their lives in Iraq, Afghanistan, and the Middle East—honoring those who have made the supreme sacrifice in service to our country. The creation of the portraits became known as the Fallen Soldiers Project.</p>
			<p>In 2005 Mr. Mayer formed the non-profit Artists for the Humanities (A4TH). It was incorporated in 2007 and, in 2009, received its IRS 501(c) (3) status.</p>
			<p>In June 2009, Mr. Mayer transitioned A4TH services, creating an expressive art mental health guidance and life coaching program. Based on discovering some unmet needs of U.S. military personnel returning from military service with an array of mental health conditions affecting their reintegration into civilian life. The Return & Recovery Program for Military Veterans (RRPMV) was initiated. This program was designed to assist veterans and their families, providing assistance for returning veterans with a wide range of mental health and behavioral needs and conditions.</p>
		</ImageContentBlock>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
