---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import GridWithImages from '../components/GridWithImages.astro';
---

<Layout title="Supporters">
	<Hero title="Supporters" />
	<main class="grid grid-flow-row px-4 mx-auto w-full xl:max-w-screen-2xl">
		<GridWithImages />
	</main>
</Layout>
