<section class="bg-black text-white h-fit">
	<div class="container py-4 grid grid-flow-row justify-center text-center md:grid-flow-col md:justify-between">
		<a href="tel:+9209155595;">(920) 915-5595</a>
		<a href="mailto:tim.mayer@artistsforthehumanities.org" target="_blank">tim.mayer@artistsforthehumanities.org</a>
	</div>
</section>
